{
    "supports": {},
    "dependencies": {
		"System.Net.Http": "4.3.4",
		"System.ComponentModel.Annotations": "5.0.0",
        "Newtonsoft.Json": "10.0.3",
        "JsonSubTypes": "1.2.0"
    },
    "frameworks": {
        "{{targetFrameworkNuget}}": {}
    }
}