{{>partial_header}}

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Text;

namespace {{packageName}}.Client
{
	/// <summary>
	/// HttpResponseMessage helper
	/// </summary>
	public static class ResponseExtension
	{
		/// <summary>
		/// HttpResponseMessage headers to IDictionary convertion
		/// </summary>
		public static IDictionary<string, string> ToHeaders(this HttpResponseMessage value)
		{
			return value.Headers.ToDictionary(x => x.Key, x => string.Join("", x.Value));
		}
	}
}
