using System;

namespace {{packageName}}
{
    /// <summary>
    /// Program
    /// </summary>
    class NoProgram
    {
		// there is no Run method implemented in the project
		// there is no Startup.cs  since Asp.net Web2 has too many ways to generate web site project start

		// please treat this project as package (library) that has to be used as a part of solution
		// it is a problem to generate .csproj file in the legacy format 
    }
}
